<%= @game.current_opponent.name %> was attacked

<h2> <%= @game.current_opponent.name %>: <%= @game.current_opponent.hit_points%>HP</h2>

<form action="/switch-turns" method='post'>
	<input type="submit" value="OK">
</form>
